@using w14_3.Models
@{
    ViewBag.Title = "Dettagli";
}

<h2>Dettagli</h2>
@foreach (Prodotto p in Model)
{
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Content/img/@p.ImgeBox" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/Content/img/@p.Image1" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/Content/img/@p.Image2" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@p.NomeProdotto</h5>
                <p class="card-text">@p.Prezzo</p>
                <p class="card-text">@p.Descrizione<small class="text-body-secondary"></small></p>
            </div>
        </div>
    </div>
</div>
    
}


